body {
  padding-top: 100px;
}

.navbar-brand img {
  height: 40px;
  max-height: 40px;
}

.nav-link {
  font-size: 1rem;
  padding: 10px 20px;
}

.nav-link.active {
  color: #ffffff;
  border-radius: 4px;
}

.profile-icon {
  font-size: 35px;
  color: #255885;
  background-color: transparent;
  border: none;
}

.nav-item .dropdown-toggle::after {
  display: none;
}

.navbar.fixed-top {
  z-index: 1030;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.dropdown-menu {
  min-width: 200px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  margin-right: 1rem;
}

.nav-pills {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.nav-item {
  margin: 0 0.5rem;
}