.navbar-custom {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 0;
}

.navbar-brand img {
  max-height: 30px;
  margin-left: 15px;
}

.navbar-nav .nav-link {
  color: #343a40;
  font-size: 14px;
  margin-right: 15px;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-separator {
  border-left: 1px solid #ccc;
  height: 30px;
  margin: 0 10px;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.navbar-nav .nav-item .btn-primary {
  background-color: #007bff; /* Cor de fundo desejada para o botão ativo */
  border-color: #007bff; /* Cor da borda do botão ativo */
}

.navbar-nav .nav-item .btn-primary:hover {
  background-color: #0069d9; /* Cor de fundo ao passar o mouse sobre o botão ativo */
  border-color: #0062cc; /* Cor da borda ao passar o mouse sobre o botão ativo */
}

.navbar-nav .nav-item .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); /* Sombra ao focar no botão ativo */
}