body {
   font-family: Arial, sans-serif;
   background-color: #255885;
}

.quem_somos, .objetivos, .contatos {
   background-color: #ffffff;
   padding: 10px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quem_somos, .objetivos, .contatos a {
   text-decoration: none;
}

.quem_somos a:hover, .objetivos a:hover, .contatos a:hover {
   color: gray;
}

